@charset "UTF-8";

/*H1: Playfair Display - Uma fonte serifada elegante e clássica, ideal para títulos principais.

H2: Montserrat - Uma fonte sans-serif moderna e limpa, perfeita para subtítulos.

P: Roboto - Uma fonte sans-serif amigável e fácil de ler, ótima para o corpo do texto.

Paleta de Cores
Cores Primárias: Branco (#FFFFFF), Azul Escuro (#003366)

Cores Secundárias: Verde Claro (#A9D18E), Cinza Claro (#D5D8DC)

Cores de Destaque: Azul Celeste (#87CEEB), Verde Floresta (#228B22)*/

:root {
    --primary-color: #003366;
    --secondary-color: #A9D18E;
    --font-header: 'Passion One', cursive;
    --font-p: 'Roboto', sans-serif;
    --font-h1: 'Playfair Display', serif;
    --font-h2: 'Montserrat', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, #191A16, #748E8F);
}

header {
    background-color: black;
    height: 100px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
    font-family: var(--font-header);
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    color: white;
    text-align: center;
}

div.menu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

nav {
    background-color: #89a6bf00;
    padding: 10px;
    margin-bottom: 20px;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center
}

nav > a {
    background-color: #003366;
    color: white;
    font-family: var(--font-h2);
    text-align: center;
    text-decoration: none;
    width: 400px;
    padding: 10px;
    margin: 5px 0px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.541);
}

nav > a:hover {
    background-color: #0062c4;
    transition: background-color 0.3s;
}

nav > span {
    background-color: #0062c4;
    text-align: center;
    color: black;
    font-size: 5em;
    width: 100vw;
    height: 50px;
    padding-top: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.541);
}

nav > span:hover {
    background-color: black;
    color: white;
    transition: background-color 0.3s;
}

main {
    height: 90vh;
}

main > section > div.titulo {
    background-color: white;
    font-family: var(--font-h1);
    font-size: 1.8em;
    text-align: center;
    width: 530px;
    padding: 20px;
    margin: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.541)
}

main > section > div.modulos {
    background-color: white;
    font-family: var(--font-h2);
    font-size: 1.2em;
    text-align: center;
    width: 530px;
    padding: 20px;
    margin: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.541)
}

footer {
    background-color: black;
    color: white;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
}

footer > p > a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

footer > p > a:hover {
    text-decoration: underline;
}

/* TESTE */